* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.avatar {
  text-align: center;
}

.avatar img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}
